---
import { Image } from 'astro:assets';
import FlyerFrImg from '@assets/images/flyer-fr.png';
import MyLocalBlogImg from '@assets/images/my-local-blog.png';
import RedAuditImg from '@assets/images/red-audit.png';
import { getLangFromUrl, useTranslations } from '@i18n/utils';
import '@assets/styles/projects.css';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const projects = [
    {
        id: 'p1',
        title: t('projects.flyer_france.title'),
        description: t('projects.flyer_france.description'),
        tags: ['Next.js', 'React', 'Typescript', 'TailwindCSS'],
        link: 'https://flyer.fr/frfr',
        image: FlyerFrImg,
    },

    {
        id: 'p2',
        title: t('projects.my_local_blog.title'),
        description: t('projects.my_local_blog.description'),
        tags: ['Astro', 'SCSS', 'Typescript', 'MDX'],
        link: 'https://my-local-blog.vercel.app',
        image: MyLocalBlogImg,
    },

    {
        id: 'p3',
        title: t('projects.red_audit.title'),
        description: t('projects.red_audit.description'),
        tags: ['React native', 'Typescript'],
        link: null,
        image: RedAuditImg,
    }
];

const cols = 2;
const left = [];
const right = [];
let template = '';

for (let i = 0; i < projects.length; i += 1) {
    const project = projects[i];

    for (let c = 0; c < cols; c++) {
        if (i % 2 === 0) {
            left.push(project.id);
        }

        if (i % 2 === 1) {
            right.push(project.id);
        }
    }
}

if (left.length > right.length) {
    right.unshift('.');
    right.push('.');
} else if (left.length === right.length) {
    right.unshift('.');
    left.push('.');
}

for (let j = 0; j < left.length; j++) {
    template += `'${left[j]} ${right[j]}'${j !== left.length ? '\n' : ''}`;
}
---

<section id="projects" class="h-full bg-white px-6 py-20 transition-colors dark:bg-codgray-950 md:px-12">
    <div class="mx-auto max-w-7xl pt-12">
        <h2 class="title">{t('menu.projects')}</h2>

        <ul
            class={`projects__list grid grid-cols-1 gap-4 pt-20 lg:grid-cols-2 lg:gap-20`}
            style={`grid-template-areas: ${template}`}
        >
            {projects.map((project) => (
                <li
                    class="project__cell mx-auto mb-12 h-max max-w-[600px] rounded bg-codgray-50 p-6 dark:bg-codgray-900 lg:mb-0 lg:max-w-none"
                    style={`grid-area: ${project.id}`}
                >
                    <figure class="mb-4 block overflow-hidden rounded bg-white dark:bg-codgray-950">
                        <Image src={project.image} width={559} height={387} alt={project.title} />
                    </figure>
                    <h4 class="text-2xl font-bold text-trinidad-600">{project.title}</h4>
                    <p class="pb-4 text-base font-light tracking-wide text-codgray-700 transition-colors dark:text-codgray-200">
                        {project.description}
                    </p>
                    
                    <footer class="flex flex-wrap gap-2">
                        {project.tags.map((tag) => (
                            <span class="rounded border border-codgray-100 bg-white px-2 py-1 text-sm text-codgray-900 transition-colors last:mr-0 dark:border-codgray-950  dark:bg-codgray-900 dark:text-codgray-50">
                                {tag}
                            </span>
                        ))}
                    </footer>
                </li>
            ))}
        </ul>
    </div>
</section>
